.woocommerce-cart{
    color: #FFFFFF;
    padding: 0 20px;
    .woocommerce{
        max-width: 1250px;
        margin: 0 auto;
        padding: 20px 10px;
        box-shadow: 0px 0px 40px rgba(5, 100, 191, 0.15);
        position: relative;
        border-radius: 20px;
        .form-container{
            white-space: normal !important;
            border-bottom: 1px solid rgb(255, 255, 255) !important;
            margin-bottom: 20px;
            .woocommerce-cart-form{
                .shop_table{
                    border-radius: none !important;
                    thead{
                        tr{
                            th{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 20px;
                                color: #fff;        
                                line-height: 24px;
                                border-bottom: 1px solid rgb(255, 255, 255) !important;
                                span{
    
                                }
                            }
                        }
                    }
                    tbody{
                                tr,
                        .cart_item{
                            td{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                color: #fff;        
                                line-height: 24px;
                                .remove{
                                    font-size: 18px;
                                }
                                span{
    
                                }
                                &.product-img{
                                    a{
                                        pointer-events: none;
                                        img{
                                            width: 80px !important;
                                        }
                                    }
                                }
                                &.product-name{
                                    a{
                                        color: #0564BF;
                                        font-weight: 700;
                                        pointer-events: none;
                                    }
                                }
                            }
                            &.actions{
                                .coupon{
                                    display: flex !important;

                                    .input-text{

                                    }
                                    .wp-element-button{
                                        color: black;
                                        box-shadow: 0px 24.5562px 32.7416px -14.7337px rgba(149, 149, 149, 0.25);
                                        background: #FFFFFF;
                                        border-radius: 4px;
                                    }
                                }
                                .wp-element-button{
    
                                }
                            }
                        }
                    }
                }
            }
        }
        .cart-collaterals{
            .cart_totals{
                h2{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    color: #fff;        
                    line-height: 24px;
                    margin-bottom: 10px;
                }
                .shop_table {
                    tbody{
                        tr{
                            &.cart-subtotal{
                                th{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                                td{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                            }
                            &.woocommerce-shipping-totals{
                                th{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                                td{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                                .woocommerce-shipping-calculator{
                                    .shipping-calculator-button{
                                        color: #0564BF;
                                    }
                                }
                            }
                            &.order-total{
                                th{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                                td{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: #fff;        
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
                .wc-proceed-to-checkout{
                    .checkout-button{
                        color: black;
                        box-shadow: 0px 24.5562px 32.7416px -14.7337px rgba(149, 149, 149, 0.25);
                        background: #FFFFFF;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}

.wp-block-preformatted{
    white-space: normal !important;
}