
.woocommerce-checkout{
    .woocommerce{
        max-width: 1250px;
        margin: 0 auto;
        color: #FFFFFF;
        padding: 0 20px;
        .col2-set{
            display: flex;
            @media screen and (max-width:991px) {
                flex-direction: column;
                .col-1{
                    width: 100% !important;
                    margin-bottom: 25px;
                }
                .col-2{
                    width: 100% !important;
                }
            }
        }
        .woocommerce-form{
            border: none !important;
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }
            .form-row{
                margin-top: 10px;
                input{
                    padding: 5px 10px;
                    background: #070A20;
                    border-bottom: 3px solid #0564BF;
                    box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                    border-radius: 56px;
                    color: rgba(255,255,255,0.6);
                }
                button{
                    color: black;
                    box-shadow: 0px 24.5562px 32.7416px -14.7337px rgba(149, 149, 149, 0.25);
                    background: #FFFFFF;
                    border-radius: 4px;
                }
            }
            .lost_password{
                a{
                    color: #0564BF;
                }
            }
        }
        .checkout_coupon{
            border: none;
            border-top: 1px solid #FFFFFF !important;
            border-radius: none !important;
            p{
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                input{
                    color: rgba(255,255,255,0.6);
                    padding: 5px 10px;
                    background: #070A20;
                    border-bottom: 3px solid #0564BF;
                    box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                    border-radius: 56px;
                }
                span{
                    input{
                        color: rgba(255,255,255,0.6);
                        padding: 5px 10px;
                        background: #070A20;
                        border-bottom: 3px solid #0564BF;
                        box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                        border-radius: 56px;
                    }
                }
                button{
                    color: black;
                    box-shadow: 0px 24.5562px 32.7416px -14.7337px rgba(149, 149, 149, 0.25);
                    background: #FFFFFF;
                    border-radius: 4px;
                }
            }
        }
        .woocommerce-checkout{
            max-width: 1250px !important;
            margin: 0 auto;
            color: #FFFFFF;
            .col-1{
                .woocommerce-billing-fields{
                    h3{
                        font-family: 'Nunito Sans', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 22px;
                    }
                    .woocommerce-billing-fields__field-wrapper{
                        p{
                            font-family: 'Nunito Sans', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            input{
                                color: rgba(255,255,255,0.6);
                                padding: 5px 10px;
                                background: #070A20;
                                border-bottom: 3px solid #0564BF;
                                box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                                border-radius: 56px;
                            }
                            span{
                                color: rgba(255,255,255,0.6);
                                background: #070A20;
                                box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                                border-radius: 56px;
                                select{
                                    option{
                                        color: rgba(255,255,255,0.6);
                                        background: #070A20;
                                        box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                                    }
                                }
                                input{
                                    color: rgba(255,255,255,0.6);
                                    padding: 5px 10px;
                                    background: #070A20;
                                    border-bottom: 3px solid #0564BF;
                                    box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                                    border-radius: 56px;
                                }
                            }
                        }
                    }
                }
            }
            .col-2{
                p{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    input{
                        color: rgba(255,255,255,0.6);
                        padding: 5px 10px;
                        background: #070A20;
                        border-bottom: 3px solid #0564BF;
                        box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                        border-radius: 56px;
                    }
                    span{
                        input{
                            color: rgba(255,255,255,0.6);
                            padding: 5px 10px;
                            background: #070A20;
                            border-bottom: 3px solid #0564BF;
                            box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                            border-radius: 56px;
                            textarea{
                                color: rgba(255,255,255,0.6);
                                padding: 5px 10px;
                                background: #070A20;
                                border-bottom: 3px solid #0564BF;
                                box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
                                border-radius: 56px;
                            }
                        }
                    }
                }
            }
            .woocommerce-checkout-review-order{
                border-top: 1px solid #FFFFFF;
                padding-top: 25px;
                margin-top: 25px;
                h3{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 22px;
                }
                table{
                    thead{
                        tr{
                            th{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                    tfoot{
                        tr{
                            th{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                }
                .woocommerce-checkout-payment{
                    background: linear-gradient(94.17deg, #0564BF 36.67%, #3052D0 83.84%) !important;
                    ul{
                        li{
                            label{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                            }
                            .payment_box{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                    .place-order{
                        .woocommerce-terms-and-conditions-wrapper{
                            .woocommerce-privacy-policy-text{
                                p{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 22px;
                                    a{
                                        color: #070A20
                                    }
                                }
                            }
                        }
                        button{
                            color: black;
                            box-shadow: 0px 24.5562px 32.7416px -14.7337px rgba(149, 149, 149, 0.25);
                            background: #FFFFFF;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}
#account_passwordP{
    background: #070A20;
    border-bottom: 3px solid #0564BF;
    box-shadow: inset 0px 4px 4px rgba(5, 100, 191, 0.1);
    border-radius: 56px;
}