// .main-banner{
//     background-color: #070A20;
//     color: aliceblue;
//     padding: 0 20px 50px;
//     .main-container{
//         max-width: 1700px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         .image-container{
//             width: 50%;
//             .image-wrap{
//                 img{
//                     width: 100%;
//                 }
//             }
//         }
//         .text-container{
//             width: 45%;
//             .content{
//                 .heading{
//                     h1{
//                         font-family: 'Nunito Sans', sans-serif;
//                         font-style: normal;
//                         font-weight: 900;
//                         font-size: 70px;
//                         line-height: 100%;
//                         color: #FFFFFF;
//                         @media(max-width:1250px){
//                             font-size: 50px;
//                         }
//                         @media(max-width:768px){
//                             font-size: 40px;
//                         }
//                     }
//                 }
//                 .text{
//                     p{
//                         font-family: 'Nunito Sans', sans-serif;
//                         font-style: normal;
//                         font-weight: 400;
//                         font-size: 16px;
//                         color: #FFFFFF;
//                         @media(max-width:768px){
//                             font-size: 14px;         
//                         }
    
//                     }
//                 }
//                 .sub-heading{
//                     font-family: 'Inter';
//                     font-style: normal;
//                     font-weight: 400;
//                     font-size: 18px;
//                     line-height: 28px;
//                     color: #FFFFFF;
//                     @media(max-width:767px){
//                         font-size: 16px;  
//                     }
//                 }
//             }
//             .wrap{
//                 padding: 40px 00px 0px;
//                 position: relative;
//                 &:before{
//                     content: '';
//                     height: 100%;
//                     width: 100%;
//                     position: absolute;
//                     filter: blur(20px);
//                     background: linear-gradient(180deg, rgba(255, 99, 71, 0) 0%, #000 150%);
//                 }   
//                 .music-container{
//                     padding: 20px 0px;

//                     @media (max-width:1020px){

//                     }
//                     @media (max-width:720px){

//                     }
//                     .song-container{
//                         display: flex;
//                         align-items: center;
//                         .play-button{
//                             padding-right: 30px;
//                             img{
//                             box-shadow: 0px 0px 10px #0564BF;
//                             border-radius: 50%;
//                             }
//                         }
//                         .text-container{
//                             .name{
//                                 font-family: 'Nunito Sans', sans-serif;
//                                 font-style: normal;
//                                 font-weight: 900;
//                                 font-size: 25px;
//                                 line-height: 100%;
//                                 color: white;
//                                 @media(max-width:767px){
//                                     font-size: 20px;  
//                                 }
//                             }
//                             .song{
//                                 color: white;
//                                 font-family: 'Nunito Sans', sans-serif;
//                                 font-style: normal;
//                                 font-weight: 400;
//                                 font-size: 16px;
//                                 line-height: 100%;
//                                 margin-top: 10px;
                                
//                             }
                            
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.main-banner{
    background-color: #070A20;
    padding-bottom: 50px;
    .align{
        max-width: 1700px;
        width: 100%;
        display: flex;
        //align-items: center;
        margin: 0 auto;
        @media(max-width:1100px){
            display: block;
        }
        .image-container{
            width: 45%;
            @media(max-width:1100px){
                text-align: center;
                padding-top: 30px;
                width: 100%;
            }
            
            .image{
                img{
                    width: 100%;
                    // @media(max-width:1700px){
                    //     width: 800px;
                    // }
                    // @media(max-width:1400px){
                    //     width: 700px;
                    // }
                    // @media(max-width:1200px){
                    //     width: 600px;
                    // }
                    @media(max-width:1100px){
                        width: 100%;
                    }
                    // @media(max-width:1000px){
                    //     width: 500px;
                    // }
                    // @media(max-width:500px){
                    //     width: 400px;
                    // }
                    // @media(max-width:400px){
                    //     width: 280px;
                    // }
                }
            }
        }
        .text-container{
            padding-left: 100px;
            width: 45%;
            display: flex;
            //align-items: center;
            justify-content: center;
            flex-direction: column;
            @media(max-width:1700px){
                //padding-right: 40px;
            }
            @media(max-width:1259px){
                padding-left: 50px;
            }
            @media(max-width:1100px){
                padding-top: 30px;
                padding-left: 40px;
                width: 90%;
            }
            @media(max-width:768px){
                padding-top: 30px;
                padding-left: 20px;
            }
            .heading{
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: 900;
                font-size: 56px;
                margin-bottom: 20px;
                color: #FFFFFF;
                @media (max-width:1580px){
                    font-size: 45px;
                }
                @media(max-width:1224px){
                    font-size: 40px;
                }
                @media(max-width:767px){
                    font-size: 34px;
                }
                @media(max-width:576px){
                    font-size: 28px;
                }
            }
            .text{
                font-family: 'Nunito Sans', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
                @media(max-width:768px){
                    font-size: 14px;         
                }
                ul{
                    padding-left: 15px;
                }
            }
            .sub-heading{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                @media(max-width:767px){
                    font-size: 16px;  
                }
                .test{
                    span{
                        font-style: italic;
                        font-weight: 900;
                    }
                }
            }
            .wrap{
                padding: 40px 00px 0px;
                position: relative;
                z-index: 99999;
                &:before{
                    content: '';
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    filter: blur(20px);
                    background: linear-gradient(180deg, rgba(255, 99, 71, 0) 0%, #000 150%);
                }   
                .music-container{
                    padding: 20px 0px;

                    @media (max-width:1020px){

                    }
                    @media (max-width:720px){

                    }
                    .song-container{
                        display: flex;
                        align-items: center;
                        .play-button{
                            padding-right: 30px;
                            color: #FFFFFF;
                            .play{
                                box-shadow: 0px 0px 10px #0564BF;
                                border-radius: 50%;
                                position: relative;
                                z-index: 99;
                            }
                        }
                        .song-text-container{
                            .name{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 25px;
                                line-height: 100%;
                                color: white;
                                @media(max-width:767px){
                                    font-size: 20px;  
                                }
                            }
                            .song{
                                color: white;
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 100%;
                                margin-top: 10px;
                                
                            }
                            
                        }
                    }
                }
            }
        }
    }
}