.tabs-beats{
    background-color: $bg;
    @media(max-width:1400px){
        padding: 0px 40px 5px;
    }
    @media(max-width:768px){
        padding: 0px 20px 5px;
    }
    .container{
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        .heading{
            font-family: 'Nunito Sans', sans-serif;
            font-style: normal;
            font-weight: 900;
            font-size: 46px;
            line-height: 100%;
            color: #FFFFFF;
            text-align: center;
            padding-top: 60px;
            @media(max-width:1400px){
                font-size: 40px;
            }   
            @media(max-width:768px){
                margin: 0px 5px;
                font-size: 25px;
                padding-top: 30px;
            }
        }
        .beats-title{
            .title-wrap{
                padding-top: 50px;
                max-width: 850px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                ;
                @media screen and (max-width:576px){
                    justify-content: flex-start;
                }
                @media(max-width:500px){
                    flex-wrap: wrap;
                }
                .title{
                    font-family: 'Nunito Sans', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 100%;
                    color: #FFFFFF;
                    padding-bottom: 5px; 
                    border-bottom: 2px solid transparent;
                    opacity: 0.6;
                    transition: all 0.3s ease;
                    &:hover{
                        cursor: pointer;
                        opacity: 1;
                    }
                    &.active{
                        border-bottom: 2px solid white;
                        font-weight: 900;
                        opacity: 1;
                    }
                    @media(max-width:1400px){
                        font-size: 20px;
                    }   
                    @media(max-width:768px){
                        margin: 0px 5px;
                        font-size: 16px;
                    }
                    @media(max-width:500px){
                        margin: 0px 5px;
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    
                }
            }
        }
        .beats-content{
            .inner-wrap{
                padding-top: 50px;
                position: relative;
                .tab-items{
                    display: none;
                    .card-container{
                        background: rgba(7, 10, 32, 0.9);
                        border-radius: 20px;
                        display: flex;
                        padding: 30px 30px;
                        margin-bottom: 50px;
                        @media (max-width:768px){
                            display: block;
                            text-align: center;
                            margin-bottom: 0px;
                        }
                        .image-container{
                            @media (max-width:767px) {
                                margin-bottom: 20px;
                            }
                            img{
                                box-shadow: 0px 0px 40px #0564BF;
                                border-radius: 20px;
                                @media (max-width:768px){
                                    width: 100%;
                                    max-width: 193px;
                                }
                            }
                        }
                        .card-text-container{
                            margin-left: 70px;
                            @media (max-width:900px){
                                margin-left: 15px;
                            }
                            @media (max-width:768px){
                                margin-left: 0px;
                            }
                            .name{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 900;
                                font-size: 25px;
                                color: #fff;        
                                line-height: 100%;
                                span{
                                    font-family: 'Nunito Sans', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 100%;
                                    text-align: center;
                                    padding-left: 10px;
                                }  
                            }
                            .author{
                                font-family: 'Nunito Sans', sans-serif;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 100%; 
                                color: #fff;
                                margin-top: 10px;
                            }
                            .button-container{
                                padding-top: 80px;
                                display: flex;
                                align-items: center;
                                padding-right: 25px;
                                @media (max-width:768px){
                                padding-top: 20px;
                                justify-content: center;
                                }
                                .play{
                                    padding-right: 20px;
                                    color: #FFFFFF;
                                    img{
                                        box-shadow: 0px 0px 10px #0564BF;
                                        border-radius: 50%;
                                    }
                                }
                                .buy{
                                    background: #FFFFFF;
                                    box-shadow: -1px 5px 11px rgba(5, 100, 191, 0.81);
                                    border-radius: 4px;
                                    padding: 10px 30px;
                                    color: black;
                                    text-decoration: none;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    white-space: nowrap;
                                }
                                .download{
                                    background: #FFFFFF;
                                    box-shadow: -1px 5px 11px rgba(5, 100, 191, 0.81);
                                    border-radius: 4px;
                                    padding: 10px 30px;
                                    color: black;
                                    text-decoration: none;
                                    font-family: 'Inter';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17px;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .icon-container{
                            width: 65%;
                            @media(max-width:1330px){
                                width: 60%;
                            }
                            @media(max-width:767px){
                                width: 100%;
                            }
                            .social-container{
                                display: flex;
                                justify-content: end;
                                padding-bottom: 50px;
                               @media(max-width:1000px){
                                   padding-bottom: 90px;
                               }
                               @media(max-width:860px){
                                   padding-bottom: 110px;
                               }
                               @media (max-width:767px){
                                   padding-bottom: 80px;
                               }
                                @media (max-width:768px){
                                    padding-bottom: 0px;
                                    justify-content: center;
                                    margin-top: 20px;
                                    margin-bottom: 10px;
                                }
                                .socials{
                                    margin-left: 16px;
                                    @media (max-width:768px){
                                        margin-right: 16px;
                                        margin-left: 0px;
                                    }
                                }
                            }
                            .sound-waves{
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .card-popup{
                    display: none;
                    color: #FFFFFF;
                    inset: 0;
                    z-index: 2;
                    background: rgba(0,0,0,0.8);
                    padding: 0 20px;
                    &.active{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: fixed;
                    }
                    .popup-wrap{
                        height: 700px;
                        overflow: auto;
                        position: relative;
                        padding: 60px 90px 20px 30px;
                        max-width: 1000px;
                        width: 100%;
                        margin: 0 auto;
                        box-shadow: 0px 0px 40px #0564bf;
                        background: #070A20;
                        @media screen and (max-width:640px) {
                            padding: 60px 30px 20px 30px;
                        }
                        .cross{
                            position: absolute;
                            right: 20px;
                            top: 20px;
                            border-radius: 50%;
                            background-color: #FFFFFF;
                            color: #000;
                            padding: 5px 10px 7px 11px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: sans-serif;
                            font-size: 20px;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
    }
}




// .tabs{
//     background-color: $bg;
    
//     @media(max-width:1400px){
//         padding: 0px 40px 5px;
//     }
//     @media(max-width:768px){
//         padding: 0px 20px 5px;
//     }
//     .container{
//         max-width: 1400px;
//         width: 100%;
//         margin: 0 auto;
//         padding-bottom: 50px;
//         .heading{
//             font-family: 'Nunito Sans', sans-serif;
//             font-style: normal;
//             font-weight: 900;
//             font-size: 46px;
//             line-height: 100%;
//             color: #FFFFFF;
//             text-align: center;
//             padding-top: 60px;
//             @media(max-width:1400px){
//                 font-size: 40px;
//             }   
//             @media(max-width:768px){
//                 margin: 0px 5px;
//                 font-size: 30px;
//                 padding-top: 30px;
//             }
//         }
//         .tabs-wrap{
//             .tab-top-wrap{
//                 padding-top: 50px;
//                 max-width: 850px;
//                 width: 100%;
//                 margin: 0 auto;
//                 display: flex;
//                 justify-content: space-between;
//                 @media(max-width:500px){
//                     flex-wrap: wrap;
//                 }
//                 .tab-item{
//                     font-family: 'Nunito Sans', sans-serif;
//                     font-style: normal;
//                     font-weight: 900;
//                     font-size: 25px;
//                     line-height: 100%;
//                     color: #FFFFFF;
//                     padding-bottom: 5px; 
//                     border-bottom: 2px solid transparent;
//                     &.active{
//                         border-bottom: 2px solid white;
//                     }
//                     @media(max-width:1400px){
//                         font-size: 20px;
//                     }   
//                     @media(max-width:768px){
//                         margin: 0px 5px;
//                         font-size: 16px;
//                     }
//                     @media(max-width:500px){
//                         margin: 0px 5px;
//                         font-size: 16px;
//                         margin-bottom: 10px;
//                     }
                    
//                 }

//             }
                
//                 .tab-content-wrap{
//                     .tab-content{
//                         display: block;
//                        .post-item{
//                         padding-top: 50px;
//                             .card-container{
//                                 background: rgba(7, 10, 32, 0.9);
//                                 border-radius: 20px;
//                                 display: flex;
//                                 padding: 30px 30px;
//                                 margin-bottom: 50px;
//                                 @media (max-width:768px){
//                                     display: block;
//                                     text-align: center;
//                                     margin-bottom: 0px;
//                                 }
//                                 .image-container{
//                                     @media (max-width:767px) {
//                                         margin-bottom: 20px;
//                                     }
//                                     img{
//                                         box-shadow: 0px 0px 40px #0564BF;
//                                         border-radius: 20px;
//                                         @media (max-width:768px){
//                                             width: 100%;
//                                             max-width: 193px;
//                                         }
//                                     }
//                                 }
//                                 .card-text-container{
//                                     margin-left: 70px;
//                                     @media (max-width:900px){
//                                         margin-left: 15px;
//                                     }
//                                     @media (max-width:768px){
//                                         margin-left: 0px;
//                                     }
//                                     .name{
//                                         font-family: 'Nunito Sans', sans-serif;
//                                         font-style: normal;
//                                         font-weight: 900;
//                                         font-size: 25px;
//                                         color: #fff;        
//                                         line-height: 100%;
//                                         span{
//                                             font-family: 'Nunito Sans', sans-serif;
//                                             font-style: normal;
//                                             font-weight: 400;
//                                             font-size: 12px;
//                                             line-height: 100%;
//                                             text-align: center;
//                                             padding-left: 10px;
//                                         }  
//                                     }
//                                     .author{
//                                         font-family: 'Nunito Sans', sans-serif;
//                                         font-style: normal;
//                                         font-weight: 400;
//                                         font-size: 16px;
//                                         line-height: 100%; 
//                                         color: #fff;
//                                         margin-top: 10px;
//                                     }
//                                     .button-container{
//                                         padding-top: 80px;
//                                         display: flex;
//                                         align-items: center;
//                                         padding-right: 25px;
//                                         @media (max-width:768px){
//                                         padding-top: 20px;
//                                         justify-content: center;
//                                         }
//                                         .play{
//                                             padding-right: 20px;
//                                             color: #FFFFFF;
//                                             img{
//                                                 box-shadow: 0px 0px 10px #0564BF;
//                                                 border-radius: 50%;
//                                             }
//                                         }
//                                         .buy{
//                                             background: #FFFFFF;
//                                             box-shadow: -1px 5px 11px rgba(5, 100, 191, 0.81);
//                                             border-radius: 4px;
//                                             padding: 10px 30px;
//                                             color: black;
//                                             text-decoration: none;
//                                             font-family: 'Inter';
//                                             font-style: normal;
//                                             font-weight: 600;
//                                             font-size: 14px;
//                                             line-height: 17px;
//                                             white-space: nowrap;
//                                         }
//                                     }
//                                 }
//                                 .icon-container{
//                                     width: 65%;
//                                     @media(max-width:1330px){
//                                         width: 60%;
//                                     }
//                                     @media(max-width:767px){
//                                         width: 100%;
//                                     }
//                                     .social-container{
//                                         display: flex;
//                                         justify-content: end;
//                                         padding-bottom: 50px;
//                                        @media(max-width:1000px){
//                                            padding-bottom: 90px;
//                                        }
//                                        @media(max-width:860px){
//                                            padding-bottom: 110px;
//                                        }
//                                        @media (max-width:767px){
//                                            padding-bottom: 80px;
//                                        }
//                                         @media (max-width:768px){
//                                             padding-bottom: 0px;
//                                             justify-content: center;
//                                             margin-top: 20px;
//                                             margin-bottom: 10px;
//                                         }
//                                         .socials{
//                                             margin-left: 16px;
//                                             @media (max-width:768px){
//                                                 margin-right: 16px;
//                                                 margin-left: 0px;
//                                             }
//                                         }
//                                         .sound-waves{
//                                             img{
//                                                 width: 100%;
//                                             }
//                                         }
//                                     }
//                                 }
//                             }
//                         } 
//                     }
//                 }
            
//         }
        
//     }
// }